{{define "collection"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/collection.css">
    <title>Document</title>
</head>

<body>
    <p>Col</p>
    <p>{{.Route}}</p>
    {{if eq .Route "allclass"}}
        {{range .TabClass}}
            <a href="/ressource?type={{.Id}}">
            <div>
                {{.Name}}
            </div>
            </a>
        {{end}}
    {{end}}

    {{if eq .Route "allrace"}}
        {{range .TabRace}}
            <a href="/ressource?type={{.Id}}">
            <div>
                {{.Name}}
            </div>
            </a>
        {{end}}
    {{end}}
    {{if eq .Route "spec"}}
        {{range .TabSpec}}
            <a href="/ressource?type={{.Id}}">
            <div>
                {{.Name}}
            </div>
            </a>
        {{end}}
    {{end}}
    Affichage de toutes les spécialisations avec possibilité de les filtrer par classe, race et stat principale

</body>

</html>
{{end}}